.success {
  padding: 40px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--s-black-color-10);
  // min-height: 72px;
  color: var(--s-black-color-80);
  font-family: var(--s-medium-font);
  font-weight: 500;

  @include media-breakpoint-up(md) {
    border-bottom: 0;
  }

  &__image-wrapper {
    padding-top: 16px;
    padding-bottom: 24px;
    max-width: 80px;
  }

  &__text {
    text-align: center;
    line-height: 1.3;
    font-size: 14px;
    letter-spacing: 0.1px;
    max-width: 320px;

    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }
  }

  &__email {
    text-decoration: none;
  }

  &__submit {
    max-width: 320px;
  }
}

.success-page {
  &__submit {
    padding-top: 32px;
    width: 100%;
    max-width: 252px;

    @include media-breakpoint-up(lg) {
      max-width: 320px;
    }
  }
}
