.header-back {
  max-width: 260px;
  margin-bottom: 22px;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    min-width: 40px;
    width: auto;
    cursor: pointer;
    line-height: 1;
    color: var(--s-black-color-80);
    text-decoration: none;
  }

  &__text {
    margin-left: 8px;
    margin-right: 24px;
  }
}
